<!DOCTYPE html>
<html>

	<head th:replace="fragments/base :: header">
	</head>
	
	<body>
  		<div th:replace="fragments/base :: nav">[Navigation]</div>
  		
  		<div class="container">
  			<div class="row">
  				<div class="col-12">  		
			   		<form method="post" enctype="multipart/form-data" th:action="@{/card/save}" th:object="${card}">
			   			<input type="hidden" th:field="*{id}"/>
						<div class="form-group">
					  		<label for="name" th:text="#{card.name}">[Name]</label>
							<input class="form-control" type="text" id="name" name="name" th:field="*{name}" th:attr="placeholder=#{card.name}">
						</div>
						<div class="form-group">
					  		<label for="firstname" th:text="#{card.firstname}">[FirstName]</label>
							<input class="form-control" type="text" id="firstname" name="firstname" th:field="*{firstname}"th:attr="placeholder=#{card.firstname}">
						</div>
						<div class="form-group">
					  		<label for="birthdate" th:text="#{card.birthdate}">[Birthdate]</label>
							<input class="form-control" type="text" id="birthdate" name="birthdate" th:field="*{birthdate}" th:attr="placeholder=#{card.birthdate}">
						</div>
						<div class="form-group">
					  		<label for="localisation" th:text="#{card.localisation}">[Localisation]</label>
							<input class="form-control" type="text" id="localisation" name="localisation" th:field="*{localisation}" th:attr="placeholder=#{card.localisation}">
						</div>
						<div class="form-group">
					  		<label for="picture-input" th:text="#{card.picturefilename}">[Picture]</label><!-- not secure to display filename -->
							<div class="input-group" id="picture-input">
								<input type="file" class="custom-file-input" id="picturefile" name="picturefile" accept="image/x-png,image/jpeg,image/jpg">
		   						<label th:text="#{card.picturebrowse}" class="custom-file-label" for="picturefile">[Picture]</label>
								<!-- Need js to display filename -->
							</div>
						</div>
						<button type="submit" th:text="#{label.form.submit}" class="btn btn-primary">[submit]</button>
					</form>
  				</div>
  			</div>
  		</div>
    		
    	<div th:replace="fragments/base :: footer">[Footer]</div>
	</body>

</html>