<!DOCTYPE html>
<html>

	<head th:replace="fragments/base :: header">
	</head>
	
	<body>
  		<div th:replace="fragments/base :: nav">[Navigation]</div>
  		<div class="container">
  			<h1>Cards</h1>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Firstname</th>
						<th scope="col">Localisation</th>
						<th scope="col" />
					</tr>
				</thead>
				<tbody>
					<tr th:each="card: ${cards}">
						<td th:text="${card.name}" />
						<td th:text="${card.firstname}" />
						<td th:text="${card.localisation}">
						<td>
							<p><a th:href="@{/card/} + ${card.id}" th:text="#{details}">details</a><p>
							<p sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_MODERATOR')"><a th:href="@{/card/delete/} + ${card.id}" th:text="#{delete}">delete</a></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
   		
    	<div th:replace="fragments/base :: footer">[Footer]</div>
	</body>

</html>