<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base :: header">
</head>

<body>
	<div th:replace="fragments/base :: nav">[Navigation]</div>

	<div class="container justify-content-center">
		<div class="row">
			<div class="col-md-auto">
				<div id="card-info" th:object="${card}" class="card"
					style="width: 18rem;">
					<img th:src="@{/images/cards/card-default.png}" class="card-img-top" alt="Card image">
					<div class="card-body">
						<h5 th:text="*{name} + ' ' + *{firstname}" class="card-title">[Name &amp; FirstName]</h5>
					</div>
					<ul class="list-group list-group-flush">
						<li th:text="*{birthdate}" class="list-group-item">[Birthdate]</li>
						<li th:text="*{localisation}" class="list-group-item">[Localisation]</li>
					</ul>
					<div th:if="${not #lists.isEmpty(social_media_accounts)}" class="card-body">
						<div class="list-group list-group-flush">
							<a th:each="sma : ${social_media_accounts}" th:text="${sma.socialMedia}" th:href="${sma.link}">[social media link]</a>
						</div>
					</div>
					<div class="card-footer">
						<div class="btn-group" role="group" aria-label="Actions of cards">
						  <a sec:authorize="isAuthenticated()" class="col-md-auto btn btn-primary" th:href="@{/card/update/} + ${card.id}" th:text="#{update}"role="button">[update]</a>
						  <a sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_MODERATOR')" class="col-md-auto btn btn-primary" th:href="@{/card/delete/} + ${card.id}" th:text="#{delete}" role="button">[delete]</a>
						  <a class="col-md-auto btn btn-primary" th:href="@{/card/} + ${card.id} + @{/sma/add}" role="button">[Add Social MediaLink]</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/base :: footer">[Footer]</div>
</body>

</html>