<!-- **************** login & registration ****************** -->
<div th:fragment="login" class="login"
	sec:authorize="not isAuthenticated()">
	<a id="a_register" class="nav-link" th:href="@{/register}">Register</a>
	<a id="a_login" class="nav-link" th:href="@{/login}">Login</a>
</div>


<!-- **************** logout ****************** -->
<div th:fragment="logout" class="logout"
	sec:authorize="isAuthenticated()">
	<p>
		Utilisateur: <span sec:authentication="name">[]</span> Roles: <span
			sec:authentication="principal.authorities"></span>
	</p>
	<div>
		<form action="#" th:action="@{/logout}" method="post">
			<input class="button" type="submit" value="Logout" />
		</form>
	</div>
</div>