<!-- **************** Registration ****************** -->
<li th:fragment="registration" sec:authorize="not isAuthenticated()" class="nav-item">
	<a id="a_register" class="nav-link" th:href="@{/register}">Register</a>
</li>

<!-- **************** Login ****************** -->
<li th:fragment="login" sec:authorize="not isAuthenticated()"class="nav-item">
	<a id="a_login" class="nav-link" th:href="@{/login}" th:text="#{label.form.loginLink}">Login</a>
</li>

<!-- **************** logout ****************** -->

<li th:fragment="logout" sec:authorize="isAuthenticated()" class="nav-item dropdown">
	<a sec:authentication="name" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    	[username]
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    	<a class="dropdown-item" th:href="@{/logout}" th:text="#{label.form.logoutLink}">[Logout]</a>
    </div>
</li>

<!-- **************** Pagination cards ****************** -->
<div th:fragment="pagination" class="row">
	<nav aria-label="Pagination">
		<ul class="pagination justify-content-center">
			<li th:if="${has_previous}" class="page-item">
				<a class="page-link" th:href="@{/(search=${searched_value}, page=${current_page}-1)}">Previous</a>
		    </li>
			<li th:unless="${has_previous}" class="page-item disabled">
				<span class="page-link">Previous</span>
		    </li>
			<li class="page-item">
				<a class="page-link" th:href="@{/(search=${searched_value}, page=${current_page})}" th:text="${current_page}">0</a>
			</li>
			<li th:if="${has_next}" class="page-item">
				<a class="page-link" th:href="@{/(search=${searched_value}, page=${current_page}+1)}">Next</a>
		    </li>
			<li th:unless="${has_next}" class="page-item disabled">
				<span class="page-link">Next</span>
		    </li>
		</ul>
	</nav>
</div>