<!-- **************** login & registration ****************** -->
<div th:fragment="login" class="login"
	sec:authorize="not isAuthenticated()">
	<a id="a_register" class="nav-link" th:href="@{/register}">Register</a>
	<a id="a_login" class="nav-link" th:href="@{/login}">Login</a>
</div>


<!-- **************** logout ****************** -->
<div th:fragment="logout" class="logout"
	sec:authorize="isAuthenticated()">
	<p>
		Utilisateur: <span sec:authentication="name">[]</span> Roles: <span
			sec:authentication="principal.authorities"></span>
	</p>
	<div>
		<form action="#" th:action="@{/logout}" method="post">
			<input class="button" type="submit" value="Logout" />
		</form>
	</div>
</div>

<!-- **************** Pagination cards ****************** -->
<div th:fragment="pagination" class="row">
	<nav aria-label="Pagination">
		<ul class="pagination justify-content-center">
			<li th:if="${has_previous}" class="page-item">
				<a class="page-link" th:href="@{/(search=${searched_value}, page=${current_page}-1)}">Previous</a>
		    </li>
			<li th:unless="${has_previous}" class="page-item disabled">
				<span class="page-link">Previous</span>
		    </li>
			<li class="page-item">
				<a class="page-link" th:href="@{/(search=${searched_value}, page=${current_page})}" th:text="${current_page}">0</a>
			</li>
			<li th:if="${has_next}" class="page-item">
				<a class="page-link" th:href="@{/(search=${searched_value}, page=${current_page}+1)}">Next</a>
		    </li>
			<li th:unless="${has_next}" class="page-item disabled">
				<span class="page-link">Next</span>
		    </li>
		</ul>
	</nav>
</div>